altgraph==0.17
certifi==2020.12.5
chardet==4.0.0
colorama==0.4.4
cssselect2==0.4.1
future==0.18.2
idna==2.10
inputimeout==1.0.4
lxml==4.6.3
pefile==2021.5.13
Pillow==8.2.0
pyinstaller==4.3
pyinstaller-hooks-contrib==2021.1
PySimpleGUI==4.41.2
pywin32-ctypes==0.2.0
reportlab==3.5.67
requests==2.25.1
svglib==1.0.1
tabulate==0.8.9
tinycss2==1.1.0
urllib3==1.26.4
webencodings==0.5.1
